.slider {
  width: 80%;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}
.slider ul {
  width: 100%;
  display: flex;
  padding: 0;
  animation: cambio 25s infinite linear;
}
.slider li {
  padding: 0 15px;
  list-style: none;
}
.slider img {
  max-width: fit-content !important;
  height: auto !important;
}
@keyframes cambio {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -100%;
  }
}

.pics {
  height: 125px;
  width: 125px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 0.25px gray;
  border-radius: 30px;
}
